.lnk {
    cursor: pointer;
    text-decoration: none;
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid rgb(32, 105, 199);
    white-space: nowrap;
    left: 0;
    margin: 0 auto;
    letter-spacing: .12em;
    width: 0;
    animation: typing 3.5s steps(25, end) forwards, blink-caret 0.7s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: rgb(42, 107, 226);
    }
}